.section {
  padding: 2rem 0;
  margin: 1rem 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.section h2 {
  margin-bottom: 1rem;
  color: #2980b9;
  text-align: center;
}
.section ul {
  list-style: none;
  padding: 0;
}
.section h4 {
  margin-left: 30px;
}
.section ul li {
  padding: 0.5rem 0;
}

.section ul li strong {
  margin-right: 10px;
}

.section a {
  color: #2980b9;
  text-decoration: none;
  font-weight: bold;
}

.section a:hover {
  text-decoration: underline;
}

.skillsUl {
  display: flex;
  gap: 20px;
}
.skill {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background: #ecf0f1;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.skill li {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


@media (max-width: 768px) {
  .skillsUl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
  }
}
