.header {
  display: flex;
  justify-content: flex-end;
  background: transparent;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.menuButton {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  width: 30px;
  height: 30px;
  padding: 0;
}
.buttonIcon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
  color: rgb(57, 57, 57);
}

.buttonIcon:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .menuButton {
    display: none;
  }
}
